@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap");
* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #121212, #000, #000, #121212);
}
body .container {
  max-width: 414px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  padding-left: 24px;
  padding-right: 24px;
}
body .container h1 {
  font-family: "Lobster Two", cursive;
  font-size: 48px;
  text-align: center;
  width: 100%;
  color: white;
  text-shadow: 0 0 5px #333;
}
body .container span {
  background: rgba(255, 255, 255, 0.6666666667);
  padding: 24px;
  max-width: 128px;
  border-radius: 4em 4em 4em 0.25em;
  margin-bottom: 16px;
  margin-left: 24px;
  transform: rotate(-15deg);
  opacity: 0;
}
body .container span.active {
  -webkit-animation: tooltipIn 3s ease-in-out;
          animation: tooltipIn 3s ease-in-out;
}
body .container span.active::before {
  content: "Copied";
}
body .container span.init {
  -webkit-animation: tooltipOut 3s ease-in-out;
          animation: tooltipOut 3s ease-in-out;
}
body .container span.init::before {
  content: "Copy";
}
body .container div {
  display: flex;
  flex: 0 1 100%;
}
body .container div#transcription {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  min-height: 48px;
  border-radius: 0.25em;
  padding: 18px 16px;
  cursor: pointer;
}
body .container div#transcription::before {
  content: "📋";
  font-size: 24px;
  padding-right: 8px;
}
body .container div label {
  width: 100%;
}
body .container div label select {
  background: #fefefe;
  margin-top: 8px;
  color: #121212;
  width: 100%;
  font-size: 18px;
  padding: 8px 4px;
  border: 2px solid rgba(254, 254, 254, 0.9333333333);
  border-radius: 0.25em;
  outline: none;
}
body .container div button {
  width: 100%;
  margin: 36px 16px 0;
  background: transparent;
  border: none;
  cursor: pointer;
}
body .container div button.listening::before {
  -webkit-animation: listening 1s ease-in;
          animation: listening 1s ease-in;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
body .container div button::before {
  content: "🎙️";
  font-size: 100px;
  color: white;
  background: rgba(255, 255, 255, 0.25);
  border: 24px solid rgba(255, 255, 255, 0.025);
  padding: 8px;
  border-radius: 50%;
}

@-webkit-keyframes tooltipIn {
  from {
    opacity: 0;
    margin-left: -10px;
  }
  to {
    opacity: 1;
    margin-left: 10px;
  }
}

@keyframes tooltipIn {
  from {
    opacity: 0;
    margin-left: -10px;
  }
  to {
    opacity: 1;
    margin-left: 10px;
  }
}
@-webkit-keyframes tooltipOut {
  from {
    opacity: 0;
    margin-left: -10px;
  }
  to {
    opacity: 1;
    margin-left: 10px;
  }
}
@keyframes tooltipOut {
  from {
    opacity: 0;
    margin-left: -10px;
  }
  to {
    opacity: 1;
    margin-left: 10px;
  }
}
@-webkit-keyframes listening {
  from {
    border-width: 2px;
  }
  to {
    border-width: 24px;
  }
}
@keyframes listening {
  from {
    border-width: 2px;
  }
  to {
    border-width: 24px;
  }
}/*# sourceMappingURL=styles.css.map */